
<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">

       <div class="col-8 offset-2">
        <h3 style="margin-top: 2rem;">Edit your  Listing</h3>
        <form  style="margin-top: 2rem;" method="POST" action="/listings/<%=editlist._id%>/?_method=PATCH" novalidate class="needs-validation" enctype="multipart/form-data">
           <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input name="listings[title]" value="<%=editlist.title%>" type="text" id="title" class="form-control" required>
           </div>
    <div class="mb-3">
        
        <label class="form-label" for="price">Price</label>
        <input name="listings[price]" value="<%=editlist.price%>" type="number" id="price" class="form-control" required>
     
    </div>
           
        
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea name="listings[description]"  type="text" id="description" class="form-control" required > <%=editlist.description%>
            </textarea>

          </div>
          <div>
            Original Image <br>
            <img src="<%= originalImageUrl  %>" alt="listing-image">
          </div>
          <div class="mb-3">
            <label class="form-label" for="url">Upload New Image</label>
            <input name="url"  type="file" id="url" class="form-control">
           </div>
           <div class="row">
           <div class="col-md-4 mb-3" >
            <label class="form-label" for="country">Country</label>
            <input name="listings[country]" required value="<%=editlist.country%>" type="text" id="country" class="form-control">
           </div>
         
            <div class="col-md-8 mb-3">
                <label class="form-label" for="location">Location</label>
            <input name="listings[location]" required value="<%=editlist.location%>" type="text" id="location" class="form-control">
            </div>
           </div>
            <br><br>
            <button class="btn btn-danger"> Edit</button>
        </form>
       </div>
    </div>
    <script src="/js/formvalidation.js"></script>
</body>

